<ion-header [translucent]="true">
  <ion-toolbar style="--ion-background-color: white">
    <ion-title>
      <strong class="font1" style="text-align: center">Ma retraite sereine</strong>
    </ion-title>
    <ion-title size="small" class="font2" style="text-align: right; margin-bottom: 2%">
      <i>Qu'est-ce qu'y pourrait donc bien faire aujourd'hui ?</i>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-img">
    <div class="customBlock">
      <p class="bg-trans font2">Bienvenue à bord de la première application qui vous garantit de vivre votre retraite en toute sérénité !</p>
    </div>
    <div class="customBlock">
      <ion-button class="font2" (click)="goToSuggestionsPage('gosses')">
        La suggestion des gosses
      </ion-button>

      <ion-button class="font2" (click)="goToSuggestionsPage('monsieurH')">
        La suggestion de Monsieur H.
      </ion-button>
      <!--<strong>Ready to create an app?</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
    </div>
  </div>
</ion-content>
